.vscode

**/.idea/
**/*.iws
**/*.iml
**/*.ipr
**/out/
**/bin/

**/.gradle/
**/build/
!**/gradle/wrapper/gradle-wrapper.jar
!**/gradle/wrapper/gradle-wrapper.properties

**/*.kotlin_module
**/.kotlin/

**/**/generated/
**/**/generated-sources/
**/**/generated-test-sources/

**/*.class
**/*.log
**/*.jar
**/*.war
**/*.ear
**/*.zip
**/*.tar.gz
**/*.rar

**/*.properties
!**/**/src/main/resources/*.properties
**/.env
**/.env.local

**/.DS_Store
**/Thumbs.db


msa-provisioning/**/*.tfstate
msa-provisioning/**/*.tfstate.*
msa-provisioning/**/.terraform/*
msa-provisioning/**/.terraform.lock.hcl

msa-provisioning/**/*.tfvars
msa-provisioning/**/*.tfvars.json

msa-provisioning/**/crash.log

msa-provisioning/**/.ansible_cache
msa-provisioning/**/*.retry

msa-provisioning/**/*.pem
msa-provisioning/**/*.key
msa-provisioning/**/*.pub
msa-provisioning/**/id_rsa*

msa-provisioning/**/.DS_Store
msa-provisioning/**/.idea/
msa-provisioning/**/.vscode/

# Logs
msa-frontend/**/logs
msa-frontend/**/*.log
msa-frontend/**/npm-debug.log*
msa-frontend/**/yarn-debug.log*
msa-frontend/**/msa-frontend/**/yarn-error.log*
pnpm-debug.log*
msa-frontend/**/lerna-debug.log*

msa-frontend/**/node_modules
msa-frontend/**/dist
msa-frontend/**/dist-ssr
msa-frontend/**/*.local

# Editor directories and files
msa-frontend/**/.vscode/*
msa-frontend/**/!.vscode/extensions.json
msa-frontend/**/.idea
msa-frontend/**/.DS_Store
msa-frontend/**/*.suo
msa-frontend/**/*.ntvs*
msa-frontend/**/*.njsproj
msa-frontend/**/*.sln
msa-frontend/**/*.sw?
msa-frontend/**/.env