.vscode

msa-spring-boot/**/.idea/
msa-spring-boot/**/*.iws
msa-spring-boot/**/*.iml
msa-spring-boot/**/*.ipr
msa-spring-boot/**/out/
msa-spring-boot/**/bin/

msa-spring-boot/**/.gradle/
msa-spring-boot/**/build/
!msa-spring-boot/**/gradle/wrapper/gradle-wrapper.jar
!msa-spring-boot/**/gradle/wrapper/gradle-wrapper.properties

msa-spring-boot/**/*.kotlin_module
msa-spring-boot/**/.kotlin/

msa-spring-boot/**/**/generated/
msa-spring-boot/**/**/generated-sources/
msa-spring-boot/**/**/generated-test-sources/

msa-spring-boot/**/*.class
msa-spring-boot/**/*.log
msa-spring-boot/**/*.jar
msa-spring-boot/**/*.war
msa-spring-boot/**/*.ear
msa-spring-boot/**/*.zip
msa-spring-boot/**/*.tar.gz
msa-spring-boot/**/*.rar

msa-spring-boot/**/*.properties
!msa-spring-boot/**/**/src/main/resources/*.properties
msa-spring-boot/**/.env
msa-spring-boot/**/.env.local

msa-spring-boot/**/.DS_Store
msa-spring-boot/**/Thumbs.db


msa-provisioning/**/*.tfstate
msa-provisioning/**/*.tfstate.*
msa-provisioning/**/.terraform/*
msa-provisioning/**/.terraform.lock.hcl

msa-provisioning/**/*.tfvars
msa-provisioning/**/*.tfvars.json

msa-provisioning/**/crash.log

msa-provisioning/**/.ansible_cache
msa-provisioning/**/*.retry

msa-provisioning/**/*.pem
msa-provisioning/**/*.key
msa-provisioning/**/*.pub
msa-provisioning/**/id_rsa*

msa-provisioning/**/.DS_Store
msa-provisioning/**/.idea/
msa-provisioning/**/.vscode/
